body {background-color: #fff;
color: #555; /* c#555 */
}
header {background-color: #002171;


    color: #fff;


} 
nav{
    background-color: #bbdefb;


}
h2{color: 2px #1976d2;

}
dt{
    color: #002100;

}
.resort {
    color: #191919;
    
}